<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../../static/style.css">
        <title>CREATION 2021</title>
    </head>
    <body>
        <div class="navbar">
            <div>
                <img src="../../../static/images/creationlogo.png"/>
            </div>
            <div class="dropbtn">
                <button>Challenges</button>
            </div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>