{% extends "creation/base.html" %} {% block content %}
<div id="contact-container">
  <div id="contact">
    <h1>Contact Us!</h1>
    <h3>Anything you want to ask?</h3>
    <form action="">
      <input type="text" placeholder="Name" required />
      <input type="email" placeholder="Email" required />
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        placeholder="Type your inquiry here"
        required
      ></textarea>
      <input type="submit" />
    </form>
  </div>
  <div id="subscribe">
    <h1>Subscribe</h1>
    <h3>for more updates</h3>
    <form action="">
      <input type="email" placeholder="Email" required />
      <input type="submit" />
    </form>
  </div>
  <div id="find-us">
    <h1>Find Us At</h1>
    <h4>Yusof Ishak House Level 3</h4>
    <h4>AS8 Level 2</h4>
    <div id="icons">
      <img
        src="../../static/assets/860cd4a3466aa8624e38cd83d81381e2.png"
        alt=""
        width="200px"
      />
      <img src="../../static/assets/20673.png" alt="" width="200px" />
    </div>
  </div>
</div>
{% endblock content %}
