
{% extends "creation/base.html" %} {% block content %}
<!-- <div id="index-container">
    <div class="col-md-3 challenge">
        <h3>2020 NUSSU Welfare Diary</h3>
        <p>Design for the AY2020/21 Welfare Diary. The theme of the journal is jewel toned colours with writings in block letters style. The design of the journal should appeal to the NUS student community.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 challenge">
        <h3>Key Visual for NUS Commencement Class Giving 2021</h3>
        <p>Create a new, refreshed key visual for NUS Commencement Class Giving 2021. The design should inspire pride in being affiliated with NUS and encourage students to mark their graduation with a gift in support of their juniors.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 challenge">
        <h3>Mascot for NUS IT Security Awareness Campaign </h3>
        <p>Create and design a Mascot character, for branding, which can be used in IT Security Awareness Campaign. </p>
    </div>
</div> -->
<div id="index-container">
  <div id="hero">
    <div id="logo-title">
      <img
        src="../../static/assets/Creation_logo_horizontal.png"
        alt="Creation2021"
        width="800px"
      />
    </div>
    <div id="cables">
      <div id="cable2"></div>
      <img src="../../static/assets/phone2.png" alt="" width="50%" />
      <div id="cable1"></div>
    </div>
  </div>
  <div id="main">
    <div id="main1">
      <img
        src="../../static/assets/challenge_statements.png"
        alt=""
        height="150px"
      />
      <img
        src="../../static/assets/challenge_statements_content.svg"
        alt=""
        width="80%"
      />
    </div>
    <div id="main2">
      <img
        src="../../static/assets/competition_timeline.png"
        alt=""
        height="150px"
      />
      <img src="../../static/assets/timeline-content.svg" alt="" width="90%" />
    </div>
    <div id="main3">
      <img src="../../static/assets/prizes.png" alt="" height="150px" />
      <img src="../../static/assets/prize-content.svg" alt="" width="60%" />
    </div>
  </div>
  <div id="footer">
    <img src="../../static/assets/partner_sponsor.svg" alt="" width="80%" />
  </div>
</div>
{% endblock content %}
