{% extends "creation/base_white.html" %}
{% block content %}
<div class="row justify-content-lg-center bottom" id="rules-container">
    <div class="col-lg-6">
        <h1 class="title">RULES, TERMS & CONDITIONS</h1>
        <hr>
        <div class="rules-container">
            <div class="rules-card">
                <h2 class="rules-header">Eligibility Criteria</h2>
                <ul class="rules-paragraph">
                    <li>Only NUS undergraduate students shall be eligible to participate in CREATION 2021.</li>
                </ul>
            </div>
            <div class="rules-card">
                <h2 class="rules-container">Registration</h2>
                <ul class="rules-paragraph">
                    <li>To register for CREATION 2021, participant can register themselves by signing up on CREATION 2021 website: <a href="#">#</a></li>
                    <li>Registration for the challenge will open on 18 Jan 2021 and will close 26 Feb 2021 18.00.</li>
                    <li>Participation in CREATION 2021 is FREE of charge.</li>
                </ul>
            </div>
            <div class="rules-card">
                <h2 class="rules-container">Duration</h2>
                <ul class="rules-paragraph">
                    <li>The competition will take place from 18 Jan 2021 to 6 Mar 2021.</li>
                    <li>All dates and times referred to in these rules, the website and in any documents relating to or in connection with the competition, shall be in the Singapore time zone (GMT +8).</li>
                </ul>
            </div>
            <div class="rules-card">
                <h2 class="rules-container">Competition</h2>
                <ul class="rules-paragraph">
                    <li>Participants should sign up through CREATION 2021 website by 26 February 2021 18.00 which is also the deadline for submission.</li>
                    <li>Only registered participants are allowed to submit an entry.</li>
                    <li>Each participant can choose to design for more than one problem statement.</li>
                    <li>Each participant can submit only ONE design per problem statement, of which will be judged by a panel of judges during the closing ceremony on 6th March 2021.</li>
                    <li>All entries should fulfill the requirements specified in their respective challenge statement.</li>
                    <li>Finalists are required to pitch their final artwork to the panel of judges during the closing ceremony on 6th March 2021.</li>
                    <li>Participants shortlisted into the final round who are unable to attend the closing ceremony for the pitching session will be heavily penalized during the assessment or may face disqualification as well.</li>
                    <li>Deadline of submission of artwork is 26th February 2021. Entries after the given deadline will not be accepted.</li>
                    <li>CREATION committee reserves the right to reject a submission that is submitted past the stipulated deadline.</li>
                </ul>
            </div>
            <div class="rules-card">
                <h2 class="rules-container">Selection Process</h2>
                <ul class="rules-paragraph">
                    <li>Assessment criterion will vary among the problem statements.</li>
                    <li>The evaluation judging criteria for eligible submission are as follows:</li>
                    <ol>
                        <li>2020 NUSSU Welfare Diary</li>
                        <ul>
                            <li>Technical Excellence</li>
                            <li>Creative Merit</li>
                            <li>Suitability for end use</li>
                            <li>Public vote on 22 – 23 February 2020</li>
                        </ul>
                        <li>Commencement Class Giving 2021</li>
                        <ul>
                            <li>Technical Excellence (25%)</li>
                            <ul class="inner">
                                <li>The participants will be assessed based on the difficulty of the design techniques they use in their designs. More advanced and complex techniques will merit higher marks</li>
                            </ul>
                            <li>Creative Merit (25%)</li>
                            <ul class="inner">
                                <li>The participants will be assessed based on the creativity and innovation in their design.</li>
                            </ul class="inner">
                            <li>Suitability for end use (25%)</li>
                            <ul class="inner">
                                <li>The participants will be assessed based on how useful and suitable  their design is for usage according to the problem statement.</li>
                            </ul>
                            <li>Relevance to theme (25%)</li>
                            <ul class="inner">
                                <li>The participants will be assessed based on whether the design fits the theme given in the problem statement.</li>
                            </ul>
                        </ul>
                        <li>Mascot for IT Security Awareness Campaign</li>
                        <ul>
                            <li>Technical Excellence</li>
                            <li>Creative Merit</li>
                            <li>Suitability for end use</li>
                            <li>Relevance to theme</li>
                        </ul>
                        <li>Newcomer Award</li>
                        <ul>
                            <li>Only participants who have participated in NUSSU commIT Cyberia 2019 and/or any of NUSSU commIT Adobe Photoshop Workshop in AY2019/2020 and/or any of NUSSU commIT Adobe Illustrator Workshop in AY2019/2020 will be considered for CREATION 2020 Newcomer Award.</li>
                            <li>ONE Newcomer Award will be given to ONE participant fulfilling the above criteria whose artwork is the judges’ favorite design among all challenge statements and is not a winning entry for any of the challenge statements.</li>
                        </ul>
                    </ol>
                    <li>All entries should fulfil the requirements specified in their respective challenge statement. Participants artwork will not be accepted if the challenge’s requirements are not met.</li>
                    <li>The decision of the judges will be final and binding.</li>
                </ul>
            </div>
            <div class="rules-card">
                <h2 class="rules-container">Intellectual Property</h2>
                <ul class="rules-paragraph">
                    <li>All artwork submitted for CREATION 2021 competition shall become the property of the sponsors for the respective problem statements.</li>
                    <li>Winning posters may be modified and used by sponsors for their personal usage.</li>
                </ul>
            </div>
            <div class="rules-card">
                <h2 class="rules-container">General Rules</h2>
                <ul class="rules-paragraph">
                    <li>CREATION committee reserves the right to amend these rules at any time. CREATION committee may also create rules, which will apply to a specific competition only. Participants are responsible for checking the relevant competition page for any updates to the rules. A copy of the latest version of the rules is made available at the website. By continuing to participate in CREATION 2021, participants signify their agreement to any updates to the rules.</li>
                    <li>CREATION committee reserves the right to disqualify any participant, if:</li>
                    <ol>
                        <li>participant is found to have violated the rules; or</li>
                        <li>participant cheats or tampers with the operation of the CREATION 2020; or</li>
                        <li>copyright or obscene material is detected in their final design. All artwork should be an individual effort; or</li>
                        <li>participant engages in conduct that is unlawful, offensive, or otherwise leads the CREATION committee to conclude that public association with the participant could cause controversy or generate any negative publicity for CREATION 2020 or its partners.</li>
                    </ol>
                    <li>All prizes are non-transferrable and not exchangeable for cash.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



