$primary-pink : #F15BB5;
$primary-yellow: #FEE440;
$primary-white: whitesmoke;

$secondary-blue: #00BBF9;
$secondary-coastal: #00F5D4;
$secondary-yellowgreen: #B5F15B;

$tertiary-purple: #9B5DE5;
$tertiary-orange: #F1975B;

$dark-background: rgb(18, 18, 18);

%shadow-comp {
    box-shadow: 2px 8px 4px 4px rgba(0, 0, 0, 0.2);
}

%justification {
    text-align: justify;
    text-justify: inter-word;
}

%floatable {
    margin-top: -10px;
    margin-bottom: 10px;
}
// defined for universal use
body {
    min-height: 100vh;
    background: linear-gradient($primary-pink, $tertiary-purple);
    filter: brightness(100%);
}

.justified-par {
    text-align: justify;
    text-justify: inter-word;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -100;

    .circle {
        background-color: black;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .circle-1 {
        background: linear-gradient($secondary-coastal, $secondary-yellowgreen);
        position: absolute;
        top: 400px;
        left: 400px;
    }

    .circle-2 {
        background: linear-gradient($tertiary-orange, $secondary-blue);
        position: absolute;
        top: 400px;
        left: 400px;
    }
}
// navbar/menu styling
#navbar {
    background-color: $primary-white;

    * {
        background-color: transparent;
        color: $dark-background;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: white;
    }
}

// challenge statements styling
#index-container {
    .challenge {
        padding: 20px;
        border-radius: 25px;
        background-color: $dark-background;
        color: whitesmoke;
        height: 300px;
    
        h3 {
            height: 60px;
        }
    
        hr {
            border: 1px solid whitesmoke;
        }

        @extend %shadow-comp;
    }

    .challenge:hover {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

// content-container styling
.bottom {
    padding-top: 300px;
    margin: 0;
    background-color: transparent;
}

#regis-container {
    width: 80%;
    margin: 40px 10%;

    $breakpoint-tablet: 768px;
    @media (min-width: $breakpoint-tablet) {
        width: 50%;
        margin: 40px 25%;    
    }

    li{
        color: black;
    }

    small {
        color: black;
        filter: contrast(1000%);
    }
}

#rules-container {
    background-color: transparent;
    padding-bottom: 50px;

    .col-lg-6 {
        padding: 25px;
    }

    .rules-card {
        margin: 100px 10px;
        background-color: $secondary-blue;
        padding: 20px;
        border-radius: 10px;

        @extend %shadow-comp;
    }

    hr {
        border: 1px solid black;
    }
}

#faq-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    color: $primary-white;

    .faq-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
    }
    
    .faq-container div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
        margin-bottom: 30px;
    }

    .faq-box {
        margin-top: 100px;
        width: 60%;
        min-width: 300px;
    }

    hr {
        border: 1px solid $primary-white;
    }
}

.timeline-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 200px 0 50px 0;

    #timeline-line {
        position: absolute;
        height: 100%;
        background-color: $primary-white;
        width: 0.5em;
        top: 0;
    }

    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    
        .timeline::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: white;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }
        
        .container {
            padding: 10px 40px;
            position: relative;
            background-color: inherit;
            width: 50%;
            div {
                @extend %shadow-comp;
            }
        }
        
        .container::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -17px;
            background-color: white;
            border: 4px solid #FF9F55;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }
        
        .left {
            left: 0%;
        }
        
        .right {
            left: 50%;
        }
        
        .left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent white;
        }
        
        .right::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }
        
        .right::after {
            left: -16px;
        }
        
        .content {
            padding: 20px 30px;
            background-color: white;
            position: relative;
            border-radius: 6px;
        }
        
        @media screen and (max-width: 600px) {
            .timeline::after {
                left: 31px;
            }
        
            .container {
                width: 100%;
                padding-left: 70px;
                padding-right: 25px;
            }
          
            .container::before {
                left: 60px;
                border: medium solid white;
                border-width: 10px 10px 10px 0;
                border-color: transparent white transparent transparent;
            }
        
            .left::after, .right::after {
                left: 15px;
            }
          
            .right {
                left: 0%;
            }
        }
        
        p {
            text-align: left;
        }
    }
}




