{% extends "users/base.html" %} {% block content %}
<div id="challenges-container">
  <div id="hero">
    <img src="../../static/assets/challenge_hero.svg" alt="" width="100%" />
  </div>
  <div id="partners">
    <img src="../../static/assets/challenge_partners.svg" alt="" width="80%" />
  </div>
  <div id="content">
    <div class="card">
      <a <a href={% url 'users:statement1' %}><img src="../../static/assets/challenge1.png" alt="" /></a>
      <p>
        Create a new, refreshed key visual for Commencement Class Giving 2022.
        The design should inspire pride in being affiliated with NUS, as well as
        encourage students to leave a legacy by making a gift in support of
        their juniors. <a href={% url 'users:statement1' %}><strong>Read More!</strong></a>
      </p>
    </div>
    <div class="card">
      <a href={% url 'users:statement2' %}><img src="../../static/assets/challenge2.png" alt="" /></a>
      <p>
        Create and design a Bug Bounty Challenge advertisement, which can be
        used in Bug Bounty Challenge 2021, an initiative to improve our
        cybersecurity awareness and posture through community effort. <a href={% url 'users:statement2' %}><strong>Read More!</strong></a>
      </p>
    </div>
    <div class="card">
      <a href={% url 'users:statement3' %}><img src="../../static/assets/challenge3.png" alt="" /></a>
      <p>
        Think up and re-write a slogan and create a logo that alumni can
        resonate with. The new design should stay abreast of the digital age and
        reflect Alumni identity going forward. <a href={% url 'users:statement3' %}><strong>Read More!</strong></a>
      </p>
    </div>
    <div class="card">
      <a href={% url 'users:statement4' %}><img src="../../static/assets/challenge4.png" alt="" /></a>
      <p>
        Create and design an infographic to highlight the wonderful properties
        of WhatIF Foods Noodles and why they are special. The design should
        bring out the technology behind our noodles, their nutritional
        properties and how they compare to other similar products in the market.
        The infographic should also demonstrate how this product is more
        environmentally friendly to the planet. <a href={% url 'users:statement4' %}><strong>Read More!</strong></a>
      </p>
    </div>
    <div class="card">
      <a href={% url 'users:sidechallenge' %}><img src="../../static/assets/sidechallenge.png" alt="" /></a>
      <p>
        Create a series of digital badge as credentials featuring: CFA Arts
        Excellence Group Executive Committee (EXCO), CFA Arts Ambassador,
        Community Outreach Ambassador. <a href={% url 'users:sidechallenge' %}><strong>Read More!</strong></a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
