{% extends "users/base.html" %} {% block content %} {% load widget_tweaks %}
<div id="contact-container">
    <div id="contact">
        <h1>Contact Us!</h1>
        <h3>Anything you want to ask?</h3>
        <form action="/contact" method="post">
            {%csrf_token%}
            <div>
                {% render_field form.name class="" placeholder="Enter Name" %}
            </div>
            <div>
                {% render_field form.email class="" placeholder="Enter Email" %}
            </div>
            <div>{% render_field form.inquiry %}</div>
            <input type="submit" />
        </form>
    </div>
    <div id="subscribe">
        <h1>Subscribe</h1>
        <h3>for more updates</h3>
        <form action="">
            <input type="email" placeholder="Email" required />
            <input type="submit" />
        </form>
    </div>
    <div id="find-us">
        <h1>Find Us At</h1>
        <h4>Yusof Ishak House Level 3</h4>
        <h4>AS8 Level 2</h4>
        <div id="icons">
            <a href="https://www.nussucommit.com/" target="_blank"
                ><img
                    src="../../static/assets/860cd4a3466aa8624e38cd83d81381e2.png"
                    alt=""
                    width="200px"
            /></a>
            <a href="https://m.facebook.com/NUSSUcommIT/" target="_blank"
                ><img src="../../static/assets/20673.png" alt="" width="200px"
            /></a>
        </div>
    </div>
</div>
{% endblock content %}
