{% extends "users/base.html" %}
{% block content %}
<div class="row bottom justify-content-md-center">
    <div class="col-md-3 challenge">
        <h3>2020 NUSSU Welfare Diary</h3>
        <p>Design for the AY2020/21 Welfare Diary. The theme of the journal is jewel toned colours with writings in block letters style. The design of the journal should appeal to the NUS student community.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 challenge">
        <h3>Key Visual for NUS Commencement Class Giving 2021</h3>
        <p>Create a new, refreshed key visual for NUS Commencement Class Giving 2021. The design should inspire pride in being affiliated with NUS and encourage students to mark their graduation with a gift in support of their juniors.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 challenge">
        <h3>Mascot for NUS IT Security Awareness Campaign </h3>
        <p>Create and design a Mascot character, for branding, which can be used in IT Security Awareness Campaign. </p>
    </div>
</div>
{% endblock content %}
