{% extends "users/base.html" %} {% block content %}
<div class="statements">
  <div class="statements-cards">
    <h1>Key Visual for NUS Commencement Class Giving 2022</h1>
    <br />
    <hr />
    <br />
    <div id="content">
      <p>
        Create a series of digital badge as credentials that can be published on Accredible, and downloadable by the respective group of students, which include: 
        <ol>
            <li>CFA Arts Excellence Group Executive Committee (EXCO)</li>
            <li>CFA Arts Ambassador</li>
            <li>Community Outreach Ambassador</li>
        </ol>
        The digital badge design should include:
        <ul>
          <li>NUS CFA Logo (Pls refer to the visual identity guide for proper usage and application of the NUS CFA logo, pantone and recommended use of secondary elements)</li>
          <li>Elements (graphics/motifs/typography) that represent the various community identified. </li>
          <li>Category/title for the respective group of student community listed above.</li>
          <li>Please refer to artwork requirements for detailed specs</li>
        </ul>
        {% if user.username %}
        <strong><u>Challenge Background</u></strong>
        <br><br>
        <p>
On campus and beyond, the NUS Centre For the Arts (CFA) takes pride in providing opportunities for the appreciation of the arts and seeks to champion creative possibilities and inspire strong communities through programming, exhibitions, workshops and outreach.
<br><br>
CFA is committed to the mission of integrating the arts into University life – enriching student life on campus and become an integral part of the students’ educational experience - ensuring every student can find opportunities to experience, critique, broaden their perspectives through the exposure, practice and endeavours in the arts. And particularly within the CFA community, the diversity of the activities, resources and programmes have allowed the students to nurture creativity, critical thinking and exploration as vital skills in their development as a young undergraduate.
<br><br>
Tapping on this challenge, we would like to celebrate and recognise the commitment, contributions and efforts of a few CFA student communities with the digital credentials (digital badges) that can be downloaded and published in Accredible. The student communities that we have identified are:
        <ul>
          <li><p>CFA Arts Excellence Group Executive Committee (EXCO) – a student member who has stepped up to take on leadership role within one or more of the 21 CFA Arts Excellence Groups (CCA)</p></li>
          <li><p>CFA Arts Ambassador – a student volunteer who is passionate and enthusiastic about the arts to commit to a year-long ambassadorship to learn and contribute in the area of arts programming and marketing, planning and execution of CFA campaigns and initiatives to enliven the arts landscape on campus</p></li>
          <li><p>Community Outreach Ambassador – a student member / leader from one or more of the 21 CFA Arts Excellence Groups who serves the community through the arts; whether by initiating the outreach programme(s) or is involved in promoting the accessibility and inclusivity of the arts to all in the society, regardless of age, cultural background or physical differences</p></li>
        </ul>
        The theme of the design should encapsulate the following message and/or tone:
        <ul>
          <li>Celebrate the diversity of what CFA has to offer, our students, and the arts </li>
          <li>Appreciation for the students’ contribution and efforts</li>
          <li>Pride of being part of the CFA community to the champion the arts on campus and beyond</li>
        </ul>
</p>
        {% endif %}        
        <strong><u>Company Background</u></strong>
        <p>
          Established in 1993, NUS Centre For the Arts (CFA) is a vibrant space for the appreciation of the arts and nurturing of the creative and inquiring spirit. We support student engagement with the arts and the integration of the arts into the life of the University.  
<br><br>
We comprise the NUS Museum, NUS Baba House and a Talent and Development arm that oversees 21 student arts excellence groups. Through our myriad of programmes, practices, exhibitions, workshops and outreach, such as NUS Arts Festival and the ExxonMobil Campus Concerts, we enrich the university experience and contribute to the building of knowledge and transformation of students. 
<br><br>
We also manage facilities such as the University Cultural Centre, with its 1700-seat Hall and 425-seat Theatre, and rehearsal spaces in Runme Shaw CFA Studios and University Town.  
<br><br>
For more information, visit <a href="https://cfa.nus.edu.sg">cfa.nus.edu.sg</a>
        </p>
      </p>
      <strong><u>Prizes</u></strong>
        <br>
<strong>First prize: </strong>
<ul>
  <li>1 x CFA t-shirt + 1 x NUS Arts Festival exclusive tote bag</li>
  <li>$80 worth of Art Friend e-voucher</li>
</ul>
      {% if user.username %}
      <a href="https://drive.google.com/drive/folders/1RMBTqBjabJfPYsrqrWqNyuA7Ab_kUojs" target="_blank" download>Download PDF</a>
      {% else %}
      <p><strong><a href={% url 'login' %} >Sign in to see more of the prompt.</a></strong></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
