{% extends "users/base.html" %} {% block content %}
<div class="statements">
  <div class="statements-cards">
    <h1>Logo and Slogan for AlumNUS</h1>
    <br />
    <hr />
    <br />
    <div id="content">
      <p>
        Think up and re-write a slogan and create a logo that alumni can rally
        together under: being both visually appealing and catchy in pure text
        form (hashtag-able). Bonus points if it includes NUS (or AlumNUS), and
        uses NUS colours.
        <br />
        <br />
        {% if user.username %}
        <strong><u>Challenge Background </u></strong>
        <br><br>
        "Proud to be an AlumNUS" has been a slogan that alumni can gather together with for more than a decade. Having gone through 4 iterations:
        <br><br>
        Please refer to the <a href="#download">Challenge Brief</a> for the previous 4 iterations.
        <br><br>
        One of goals in staying up-to-date is to explore new options for both the slogan and design to stay abreast of the digital age and reflect Alumni identity going forward.
        <br><br>
        {% endif %}
        <strong><u>Company Background</u></strong>
        <br />
        <br />
        The NUS Office of Alumni Relation’s (OAR) key purpose is to help you
        stay connected to your alma mater and to the University. As an alumnus,
        you are part of our family of 312,000 alumni from more than 100
        countries across the globe.
        <br><br>
        <strong><u>Prizes</u></strong>
        <br>
<strong>First prize: </strong>
<ul>
  <li>Nintendo Switch</li>
</ul>
<strong>Second prize: </strong>
<ul>
  <li>Google Nest Audio</li>
</ul>
<strong>Third prize:</strong>
<ul>
  <li>Toshiba Canvio 1TB External Hard Drive</li>
</ul>
<strong>Newcomer Award: </strong>
<ul>
  <li>Wacom Intuos S </li>
</ul>
<i>
Note that ONE Newcomer Award will be given to ONE eligible participant whose design is the judges’ favorite among the 4 main challenge statements. Eligibility criteria for Newcomer Award can be found under <a href={% url 'users:rules' %} > Rules and Regulations</a>.
</i>
      </p>
      {% if user.username %}
      <a href="{{ pdf_url }}" target="_blank" download id="download">Download Challenge Brief</a>
      {% else %}
      <p><strong><a href={% url 'login' %} >Sign in to see more of the prompt.</a></strong></p>
      {% endif %}
    </div>
    <div id="telegram" style="margin-top: 10px">
      <a href="https://t.me/joinchat/VxF_quxz-kSXL2O1" target="_blank"
        ><img src="../../static/assets/telegram.svg" alt="" /> Get in touch and
        get the latest information</a>
    </div>
  </div>
</div>
{% endblock content %}
